/**Color properties 

1. RGB - rgb(red value, blue value, green value) | 0-255 | 8-bit
2. HEX - 0-9,A,B,C,D,E,F, #ff0000

Opacity - Alpha (0-1)
**/

html {
  font-size: 30px;
}
 h3{
color: violet;
  font-family: "Helvetica";
  font-size: 3rem;
  font-weight: lighter;
  font-style: italic;
}


.gradient {
  font-family: "Courier";
  font-size: 3rem;
  font-weight: normal;

  /* text gradient  */
  background: linear-gradient(to right, red, blue, green, white);
  background-clip: text;
  color: transparent;
}


.mern {
  text-align: center; /*left, right, center, justify*/
  /* text-decoration: underline dashed blue; */
  /* text-decoration: line-through; */
  text-decoration: underline;
  text-transform: capitalize; /* uppercase, lowercase, capitalize */
  text-shadow: 2px 0 5px red; /* horizontal vertical spread color */
  letter-spacing: 3px;
  word-spacing: 5px;
  
}

.content {
color: aqua;
  text-align: justify;
  line-height: 2;
  font-weight: bold;
}

/* Box Model properties  */

.box1{
  height: 100px;
  color: red;
  background-color: bisque;
  width: 100px;

  margin: 50px; /* outer gap */
  padding: 20px; /* inner gap */
  border: 10px solid black; /* boundary: size type color */

  margin-top: 10px;
  padding-left: 50px;
  border-right: 5px dotted green;

  margin-inline: 30px; /* horizontal */
  padding-block: 40px; /* vertical */
  border-block: 20px solid blue;

  box-sizing: border-box;
}

/* Display properties  */

.heading-display{
    color: blue;
  display: inline-block; /* block, inline-block (margin works), inline, none, grid, flex */
  text-align: right;
  padding: 20px;
  margin: 10px;
}

/* Flex properties */

/* parent */
.container {
  height: 400px;
  width: 100%;
  background-color: aquamarine;

  display: flex;
  flex-direction: row;
  justify-content: center; /* Main axis alignment: left, right, center, space-between, space-evenly, space-around */
  align-items: center; /* Cross axis alignment: start, center, end */
  gap: 50px;
}

.card {
  height: 100px;
  width: 100px;
  background-color: darksalmon;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.list{
    list-style-type:circle;; /* disc circle, square, none */
}
.list li:first-child{
    color: red;
}
.list li:last-child{
    color: aqua;
}
/* yadi even numberko child ma matra property add garnu xa vane nth-child use garxau */
.list li:nth-child(2n){
    color: greenyellow;
    list-style-type: square;

}
/* unit properties: px, rem, em, in, cm, vh, vw, */
.unit{
    color: brown;
background-color: none;
border: 1px solid;
font-size: 2cm;


}
.unit-box{
    height: 100vh;
    width: 50%;
    background-color: bisque;
font-size: 10px;

}

.unit-box{
    font-size: 1.5em;
}


.child-box{

    height: 100px;
    width: 50%;
    background-color: aqua;
    font-size: 15px
;


}

/* Positional properties : static, relative, absolute, fixed, sticky */
.positional-box{
    height: 500px;
    width: 500px;
    background-color: gold;
    position: relative;
}
.positional-child{

    height: 200px;
    width: 200px;
    background-color:deeppink;
    position: absolute;
    top: 40px;
    left: 15px;
    z-index: 20px;

}
.fixed-child{

    height: 200px;
    width: 200px;
    background-color:salmon;
    position: fixed;
  top: 50px;
right: 50px;
}
.sticky-child{

height: 200px;
width: 200px;
background-color: blueviolet;
left: 40px;
position: sticky;
z-index: 10px;


}

.psuedo-click:hover{
  color: red;

}
.psuedo-click:active{
  color: greenyellow;
}

input{
  border: 1px solid black;
}

input:hover{
   color: red;
}


input:active{
  color: greenyellow;
  
}
input:disabled{
  background-color: black;
}